@font-face {
  font-family: "superNintendoFont";
  src: url("SnesItalic-1G9Be.ttf");
}

#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 64px;
	color: white;
	background-color: #38c7a2;
	position: relative;
}

.navbar-title {
	font-family: "superNintendoFont";
	font-size: 50px;
}

.temperature-toggle {
	width: 200px;
	height: 30px;
	color: white;
	background-color: #38a5c7;
	position: absolute;
	right: 30px;
}