@font-face {
  font-family: "swansea";
  src: url("Swansea-q3pd.ttf");
}

.weather-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 520px;
	height: 500px;
	border: 1px solid black;
	font-family: "swansea";
	font-size: 16px;
}

.weather-details {
	width: 200px;
	height: 200px;
}

.image-container img {
	width: 200px;
	height: 200px;
}